In [59]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import neighbors

In [179]:
data = pd.read_csv("data_fix.csv", index_col = 0)

In [180]:
data

,self_own_assets,poor_level,poor_level_5y_ago,poor_level_5y_later,job_satisfaction,working hours,life_satisfaction
0,1,1.0,1.0,1.0,2.0,56.0,3.0
1,1,1.0,1.0,1.0,2.0,56.0,3.0
2,1,1.0,1.0,1.0,2.0,56.0,3.0
3,1,1.0,1.0,1.0,2.0,56.0,3.0
4,1,1.0,1.0,1.0,3.0,12.0,4.0
...,...,...,...,...,...,...,...
734,1,1.0,1.0,1.0,2.0,8.0,4.0
735,1,1.0,1.0,1.0,2.0,8.0,4.0
736,1,1.0,1.0,1.0,2.0,8.0,4.0
737,1,1.0,1.0,1.0,2.0,21.0,5.0
738,1,1.0,1.0,1.0,2.0,21.0,5.0

## Deskripsi data

#### self_own_assets:
1:Ya
3:Tidak
#### poor_level
Paling Miskin 1-2-3-4-5-6 Paling Kaya
#### poor_level_5y_ago
Paling Miskin 1-2-3-4-5-6 Paling Kaya
#### poor_level_5y_later
Paling Miskin 1-2-3-4-5-6 Paling Kaya
#### job_satisfaction
1:Sangat Puas
2:Puas
3:Tidak Puas
4:Sangat Tidak Puas
#### working hours
durasi bekerja total dalam seminggu
#### life_satisfaction
1: Amat sangat puas
2: Sangat puas
3: Agak puas
4: Tidak puas
5: Sangat tidak puas

In [181]:
import numpy as np

X = np.array(data_fix2.drop(['life_satisfaction'], 1))
y = np.array(data_fix2['life_satisfaction'])
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42, test_size= 0.2)
clf = neighbors.KNeighborsClassifier(n_neighbors = 3)
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.8445945945945946

### contoh 1:
- memiliki asset rumah tangga sendiri = 1
- merasa paling kaya = 6
- merasa paling kaya 5 tahun yang lalu = 6
- akan merasa paling kaya 5 tahun yang akan datang = 6
- sangat puas dengan pekerjaannya = 1
- jam kerja 10 jam dalam seminggu = 10

### contoh 2:
- tidak memiliki asset rumah tangga sendiri = 3
- merasa paling miskin = 1
- merasa paling miskin 5 tahun yang lalu = 1
- akan merasa paling miskin 5 tahun yang akan datang =1
- tidak puas dengan pekerjaannya = 4
- jam kerja 35 jam dalam seminggu = 45

In [182]:
example_measure = np.array([[1,6,6,6,1,10], [3,1,1,1,4,45]])
#diperkirakan mendapat life_satisfaction yang tinggi yaitu angka 1 atau 2
#diperkirakan mendapat life_satisfaction yang tinggi yaitu angka 4 atau 5

In [183]:
prediction = clf.predict(example_measure)

In [184]:
prediction

array([2., 4.])

#### contoh 1, memiliki life satisfaction 2 yaitu sangat puas
#### contoh 2, memiliki life satisfaction 4 yaitu tidak puas